* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #051622; /* #434343; */
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

/**
 * top header
 */
.top-header {
	align-items: center;
	background: #051622;
	box-shadow: 0px 2px 10px #333333;
	height: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#welcome-msg {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	color: #1BA098;
}

#logout-link {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	color: #1BA098;
}

/**
 * top navigation
 */
.top-nav {
	flex: 1;
}

.top-nav a {
	color: #FFFFFF;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

.top-nav a.homeTag {
	color: #FF3B3F;
}

.top-nav a:focus {
	color: #FF3B3F;
}

/**
 * main container
 */
.container {
	margin: 60px auto;
	max-width: 1000px;
	min-width: 600px;
}

/**
 * main header
 */
.container > header {
	text-align: center;
	align-items: center;
	background: #051622;
	background-size: 100%;
	height: 200px;
	color: #DEB992;
	font-size: 2em;
	padding-top: 40px;
	text-decoration: none;
}

/**
 * login form
 */
#login-form {
	color: #1BA098;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 350px;
}

#login-form label {
	display: block;
}

#login-form input {
	border: none;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
}

#login-form #login-btn {
	cursor: pointer;
	float: right;
	padding: 8px 20px;
	text-align: right;
}

#login-form #register-form-btn {
	cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
}

#login-error {
	clear: both;
	color: #DEB992;
	padding-top: 10px;
}

/**
 * register form
 */
#register-form {
	color: #1BA098;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 350px;
}

#register-form label {
	display: block;
}

#register-form input {
	border: none;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
}

#register-form #login-form-btn {
	cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
}

#register-form #register-btn {
	cursor: pointer;
	float: right;
	padding: 8px 20px;
	text-align: right;
}

#register-result {
	clear: both;
	color: #DEB992;
	padding-top: 10px;
}

/**
 * main section
 */
.main-section {
	background: #051622;
}

/**
 * aside
 */
#item-nav {
	float: left;
	width: 180px;
}

.nav-icon {
	color: #624630;
	padding: 20px;
	text-align: center;
}

/**
 * main navigation
 */
.main-nav-btn {
	background: none;
	border-top: 1px solid #FFFFFF;
	color: #d6b57e;
	display: block;
	padding: 20px;
	text-align: left;
	text-decoration: none;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	color: #624630;
}

.main-nav-btn.active {
	background: #F2EBD9;
	color: #624630;
}

.main-nav-btn i {
	width: 20px;
}

/**
 * item list
 */
#item-list {
	background: #F2EBD9;
	color: #624630;
	list-style: none;
	margin-left: 180px;
	min-height: 250px;
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

/**
 * item
 */
.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.item:last-child {
	border: none;
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.item img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-address {
	line-height: 20px;
	padding-right: 20px;
	text-align: right;
}

.stars {
	align-items: center;
	display: flex;
	padding-top: 10px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}

/**
 * footer section
 */
footer {
	background: #051622;
	font-size: 1.0em;
	height: 60px;
	position: relative;
}

footer p {
	text-align: center;
	color: #DEB992;
}

footer p.title {
	font-size: 1.2em;
	padding: 4px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}